body {
    margin: 0;
}

/*ONE*/
.one {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 100px 100px 100px;
}

.logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    
}

.logo .left {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.link {
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero .main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.hero .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    gap: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.img img {
    width: 100%;
    height: 100%;
}

button {
    background: #3882F6;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 24px;
}

/*TWO*/
.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px 100px 100px;
    gap: 50px;
}

.two .header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.information p {
    flex-wrap: wrap;
}

.information img {
    width: 100%;
    height: 100%;
}

/*THREE*/
